---
# We'll use defaults from the LLVM style, but with the following differences.
BasedOnStyle: LLVM
AlignAfterOpenBracket: AlwaysBreak
AlignEscapedNewlines: Left
AlignOperands: false
AlignTrailingComments: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Allman
ColumnLimit: 100
Cpp11BracedListStyle: false
IndentCaseLabels: true
PenaltyReturnTypeOnItsOwnLine: 300
PointerAlignment: Left
...
